body {
    background-color: black;
}
.title { 
    width: 50rem;
    margin: 0 auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    
}

.text{
    display: block;
    margin: 0px; 
}

.bold {
    font-weight: bold;
}

img{
    width: 100%;
}

header, section, article {
    padding: 10px;
    display: flex;
}

article {
    display: block;
}


p {
    display: inline-block;
}

i {
    font-size: 35px;
    margin: 1rem;
}

.logo{
    width: 90rem;
    margin-top: 20px;
}

.break {
    width: 60rem;
}